<h1>Enter answer bellow</h1>

<%= link_to 'Sign in with Github', '/auth/github' %>

<form>
  <input type="text" data-behavior="answer_pusher">
</form>

<div class="user_answers-container">
  <%= render @user_answers %>
</div>
