<h1>Enter answer bellow</h1>

<%= link_to 'Sign in with Github', '/auth/github' %>

<form>
  <div class="">
    <span id="answer-prompt"><%= answer_prompt %></span>
    <input type="text" data-behavior="answer_pusher">

    <div id="answer-errors"></div>
  </div>
</form>

<div class="user_answers-container">
  <%= render @user_answers %>
</div>
