# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  github_client_id:
  github_secret_id: 
  secret_key_base: 1e7e9ddc5e73cde284be29d55191798412ce799d54e565e523e84aa595c7d491c119897f7173e3d288b9676eada8b12d3f11cea41b2f2a1c39396999d0bc6a9f

test:
  secret_key_base: 3d76915abec7ccc19c2f6069bedac56eac4a64f838a830ee69deb11e7ec2dc8a4ef489d97ea9a344c9197dc9f212d75ce6cdca8d6fa2e6f0d2ae3c44db962fa6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
