.game-page
  .container
    min-width: 320px
    .content-header
      width: 60%
      margin: 0 auto
      font-size: 2vw
      line-height: 1.3em
      text-align: center

      a
        color: white

    .content-body
      width: 100%
      margin: 0 auto

      +flex(1 0 40px)

      .word-input
        width: 90%
        margin: 20px auto
        height: 50px
        position: relative
        background-color: white
        form
          display: block
          height: 100%
        .answer-input-container
          width: 70%
          color: black
          font-family: 'Open Sans', sans-serif
          display: table
          vertical-align: top
          position: absolute
          bottom: 6px
          #answer-prompt
            text-transform: uppercase
            padding-left: 15px
          .bordered-input
            width: calc(100% - 60px)
            display: inline-block
            input
              width: 100%
              display: block
              padding: 0
              border: 0
              &:focus
                outline-width: 0
              &:after
                width: 100%
                content: 'N'
            .border
              border-bottom: 1px solid #dddddd
              margin-top: -5px
          #answer-prompt, input
            line-height: 34px
            font-size: 24px
            font-family: 'Open Sans', sans-serif
          #answer-prompt, input, button
            // display: table-cell

        .submit-button
          position: absolute
          top: 0
          right: 0
          font-size: 20px
          width: 30%
          height: 100%
          background-color: #fdc9c9
          cursor: pointer
          color: #b1242c
          outline: none
          border: none
          &:hover
            -webkit-filter: brightness(0.95)
            filter: brightness(0.95)


        input, .submit-input
          display: inline-block
          vertical-align: top
          box-sizing: border-box

    .history
      margin: 0 auto
      +flex(1 0 200px)
      .user-answer
        width: 90%
        margin: 0 auto
        & > div
          display: inline-block
          vertical-align: middle
        .user-photo
          width: 40px
          height: 40px
          border: 2px solid white
          border-radius: 100%
          overflow: hidden
          margin: 1%
          img
            width: 100%
        .user-name
          margin: 0 1%
          font-size: 16px
          a
            text-decoration: none
            color: white
          &:after
            content: ":"
        .answer
          margin-left: 1%
          font-size: 20px
          color: rgba(255,255,255,0.5)
          span:first-child
            text-transform: capitalize
          span:last-child
            color: white
