.game-page
  .container
    .footer
      position: absolute
      bottom: 5%
      left: 15%
      width: 70%
      +display-flex
      +flex-flow(row nowrap)
      +justify-content(space-between)
      +align-items(center)
      font-size: 18px
      a
        text-decoration: none
        color: white
      .item
        &.copyright
          color: rgba(255,255,255,0.5)
        &.facebook
          width: 30px
          height: 30px
          background-image: asset-url("fb.png")
          background-repeat: no-repeat
          background-size: contain
          background-position: center
          margin-right: 10px
        &.twitter
          width: 125px
          height: 25px
          line-height: 27px
          padding-left: 30px
          background-image: asset-url("tw.png")
          background-repeat: no-repeat
          background-size: contain
          background-position: left center
        &.rubyroid
          width: 230px
          height: 44px
          line-height: 27px
          padding-left: 30px
          background-image: asset-url("rubyroid-logo-white.png")
          background-repeat: no-repeat
          background-size: contain
          background-position: left center
